<div class="flex flex-col md:flex-row gap-8">
    <div class="card flex flex-col gap-6 w-full">
        <div class="card flex flex-col gap-4">
            <p-toast />
            <div class="font-semibold text-xl">
                {{ isEdit ? 'Edit' : 'Create' }} Region
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid gap-4">
                <div class="flex flex-col gap-1">
                    <label for="name">Name</label>
                    <input pInputText id="name" formControlName="name"
                        [class]="{ 'ng-invalid ng-dirty': form.get('name')?.invalid && (form.get('name')?.touched ) }"
                        autocomplete="name" />
                    @if (form.get('name')?.invalid && (form.get('name')?.touched )) {
                    <small class="p-error">Region's name required</small>
                    }
                </div>

                <div class="flex flex-col gap-1">
                    <label for="description">Description</label>
                    <input pInputText id="description" formControlName="description" autocomplete="description" />
                </div>

                <div class="flex flex-col gap-1">
                    <label for="code">Code</label>
                    <input pInputText id="code" formControlName="code" autocomplete="code" />
                </div>
                <div class="flex flex-wrap gap-1">
                    <p-button label="Save" (click)="onSubmit()" [disabled]="form.invalid" [raised]="true"
                        severity="primary" />
                    <p-button label="Cancel" severity="secondary" (click)="onCancel()"></p-button>
                </div>
            </form>
        </div>
    </div>
</div>